CORS_ORIGIN=http://localhost:3001

DATABASE_URL=postgresql://postgres:password@localhost:5432/api-proffy

JWT_TOKEN="c2699e9e-e23e-4c4c-b859-61ae98abbee9"
COOKIE_SECRET="c2699e9e-e23e-4c4c-b859-61ae98abbee9"

HOST=0.0.0.0
PORT=3004